<h2>Menú de Juegos Arcade</h2>
<div>
    <button onclick="location.href='@Url.Action("Snake", "Home")'">Jugar</button>
    <button onclick="location.href='@Url.Action("TicTacToe", "Home")'">Jugar Tic Tac Toe</button>
    <button onclick="location.href='@Url.Action("prueba", "Home")'">Aqui Iris</button>
</div>
